*.py[cod]
__init__.py

# sublime text config files
*.sublime-*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Logs
pip-log.txt
*.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# backups of files
*.*~

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#windows specific
Thumbs.db
